services:
  frontend:
    image: ${FRONTEND_IMAGE}
    container_name: ${PROJECT_NAME}_frontend
    environment:
      NGINX_PROJECT_TEMPLATE_SERVER_BASE_URL: http://server:8080/api
    ports:
      - 8081:8081
    depends_on:
      - "server"
    networks:
      - a12_compose

  server:
    image: ${SERVER_IMAGE}
    container_name: ${PROJECT_NAME}_server
    environment:
      SPRING_PROFILES_ACTIVE: dev-env,dataservices-external_postgres
      SERVER_PORT: 8080
      SERVER_ADDRESS: 0.0.0.0

      SPRING_DATASOURCES_DATASERVICES_URL: jdbc:postgresql://postgres:5432/${DATASERVICES_DB}
      SPRING_DATASOURCES_DATASERVICES_USERNAME: ${DATASERVICES_USERNAME}
      SPRING_DATASOURCES_DATASERVICES_PASSWORD: ${DATASERVICES_PASSWORD}
      SPRING_DATASOURCES_CONTENTSTORE_URL: jdbc:postgresql://postgres:5432/${CONTENTSTORE_DB}
      SPRING_DATASOURCES_CONTENTSTORE_USERNAME: ${CONTENTSTORE_USERNAME}
      SPRING_DATASOURCES_CONTENTSTORE_PASSWORD: ${CONTENTSTORE_PASSWORD}
      SPRING_DATASOURCES_CONTENTSTORE_DRIVER_CLASS_NAME: org.postgresql.Driver
      SPRING_DATASOURCES_CONTENTSTORE_JPA_DATABASE: postgresql
      SPRING_DATASOURCES_CONTENTSTORE_JPA_DATABASE_PLATFORM: org.hibernate.dialect.PostgreSQLDialect
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK-SET-URI: http://keycloak:8080/realms/A12Realm/protocol/openid-connect/certs
      MGMTP_A12_DATASERVICES_CONTENTSTORE_BASE-URL: http://localhost:8082
      MGMTP_A12_DATASERVICES_QUERY_REINDEXING_MODE: rebuild_index
      MGMTP_A12_UAA_AUTHENTICATION_PRINCIPAL_ACCESS-RIGHTS-RESOURCE: file:/var/lib/a12/data/import/auth/roles.yaml
      MGMTP_A12_UAA_AUTHORIZATION_CHILD-AUTHORIZATION-DEFINITIONS: file:/var/lib/a12/data/import/auth/childAuthorizationDefinition.json
      MGMTP_A12_DATASERVICES_INITIALIZATION_IMPORT_MODELS_PATH: file:/var/lib/a12/data/import/models/
      MGMTP_A12_DATASERVICES_INITIALIZATION_SCRIPTS_JSONRPC_ENABLED: false

    depends_on:
      postgres:
        condition: service_healthy
      server-init:
        # when applying server-init profile, it must be completed successfully.
        # make sure you have docker compose version 2.20.2 or higher to use this feature.
        required: false
        condition: service_completed_successfully
    networks:
      - a12_compose
    ports:
      - 8082:8080
    volumes:
      - ../import:/var/lib/a12/data/import

  postgres:
    image: ${DOCKER_REGISTRY_FOR_READ}/postgres:${POSTGRES_VERSION}
    container_name: ${PROJECT_NAME}_postgres
    ports:
      - 8083:5432
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      KEYCLOAK_DATABASE_USER: ${KEYCLOAK_DATABASE_USER}
      KEYCLOAK_DATABASE_PASSWORD: ${KEYCLOAK_DATABASE_PASSWORD}
      KEYCLOAK_DATABASE_DB: ${KEYCLOAK_DATABASE_DB}
      DATASERVICES_USER: ${DATASERVICES_USERNAME}
      DATASERVICES_PASSWORD: ${DATASERVICES_PASSWORD}
      DATASERVICES_DB: ${DATASERVICES_DB}
      CONTENTSTORE_USER: ${CONTENTSTORE_USERNAME}
      CONTENTSTORE_PASSWORD: ${CONTENTSTORE_PASSWORD}
      CONTENTSTORE_DB: ${CONTENTSTORE_DB}
    healthcheck:
      # Checks whether Postgres is ready.
      test:
        [
          "CMD-SHELL",
          "pg_isready --username your-ds-username --dbname your-ds-db-name && pg_isready --username your-cs-username --dbname your-cs-db-name",
        ]
      interval: 2s
      timeout: 5s
      retries: 60
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/db-init.sh:/docker-entrypoint-initdb.d/db-init.sh
    networks:
      - a12_compose

  server-init:
    image: ${SERVER_INIT_IMAGE}
    container_name: ${PROJECT_NAME}_server-init
    profiles:
      - server-init
    environment:
      SPRING_PROFILES_ACTIVE: dev-env,dataservices-external_postgres
      SPRING_DATASOURCES_DATASERVICES_URL: jdbc:postgresql://postgres:5432/${DATASERVICES_DB}
      SPRING_DATASOURCES_DATASERVICES_USERNAME: ${DATASERVICES_USERNAME}
      SPRING_DATASOURCES_DATASERVICES_PASSWORD: ${DATASERVICES_PASSWORD}
      SPRING_DATASOURCES_CONTENTSTORE_URL: jdbc:postgresql://postgres:5432/${CONTENTSTORE_DB}
      SPRING_DATASOURCES_CONTENTSTORE_USERNAME: ${CONTENTSTORE_USERNAME}
      SPRING_DATASOURCES_CONTENTSTORE_PASSWORD: ${CONTENTSTORE_PASSWORD}
      SPRING_DATASOURCES_CONTENTSTORE_DRIVER_CLASS_NAME: org.postgresql.Driver
      SPRING_DATASOURCES_CONTENTSTORE_JPA_DATABASE: postgresql
      SPRING_DATASOURCES_CONTENTSTORE_JPA_DATABASE_PLATFORM: org.hibernate.dialect.PostgreSQLDialect
      MGMTP_A12_DATASERVICES_INITIALIZATION_SCRIPTS_JSONRPC_PATHS: file:/var/lib/a12/data/import/data/request/*.json
      MGMTP_A12_DATASERVICES_INITIALIZATION_IMPORT_MODELS_PATH: file:/var/lib/a12/data/import/models/
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - a12_compose
    volumes:
      - ../import:/var/lib/a12/data/import

  keycloak:
    image: ${KEYCLOAK_REGISTRY}/keycloak/keycloak:${KEYCLOAK_VERSION}
    container_name: ${PROJECT_NAME}_keycloak
    env_file:
      - keycloak/keycloak.env
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/${KEYCLOAK_DATABASE_DB}
      KC_DB_USERNAME: ${KEYCLOAK_DATABASE_USER}
      KC_DB_PASSWORD: ${KEYCLOAK_DATABASE_PASSWORD}
    ports:
      - 8089:8080
    volumes:
      - ./keycloak:/opt/keycloak/data/import
    command: [ "start-dev" , "--import-realm" ]
    networks:
      - a12_compose
    depends_on:
      postgres:
        condition: service_healthy

networks:
  a12_compose:
    driver: bridge

volumes:
  postgres_data: